*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
}

header,
main {
  margin: 0 auto;
  max-width: 80rem;
}

header {
  border-bottom: #ccc .1rem solid;
  margin-bottom: 1.6rem;
  padding-bottom: 1.6rem;
}

nav {
  display: flex;
  height: 4.8rem;
  margin-bottom: 1.6rem;
}

nav a {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1;
  font-size: 1.4rem;
  justify-content: center;
  position: relative;
  text-decoration: none;
  text-align: center;
}

nav a.active {
  background-color: #ccc;
  color: #fff;
  cursor: default;
}

.filter__submit {
  -webkit-appearance: none;
  background-color: #fff;
  border: none;

}
.filter__form {
  -webkit-appearance: none;
  align-items: center;
  border: #ccc 1px solid;
  display: flex;
  padding: 0 .5rem;
}

.filter__input {
  -webkit-appearance: none;
  border: none;
  width: 100%;
}

.search__item {
  align-items: center;
  display: flex;
}

.status {
  color: #ccc;
  margin-left: auto;
  padding: 0 1rem;
  font-size: 1.4rem;
}

.status.is-active {
  color: green;
}

.user {
  padding: 0 2rem;
  font-size: 1.4rem;
}

.user a {
  cursor: pointer;
}

.user a:hover {
  text-decoration: none;
}

/* From HTML5 Boilerplate */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}
