*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  padding: 0;
  margin: 0;
}

header,
main {
  margin: 0 auto;
  max-width: 60rem;
}

main {
  border: #ccc .1rem solid;
  border-top: none;
}

.avatar img {
  border-radius: 100%;
  height: auto;
  width: 5rem;
}

nav {
  display: flex;
  height: 4.8rem;
}

nav button {
  align-items: center;
  background-color: #fff;
  border: #ccc 1px solid;
  cursor: pointer;
  color: #666;
  display: flex;
  flex: 1;
  font-size: 1.2rem;
  justify-content: center;
  letter-spacing: 1.6px;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

nav button:hover {
  background-color: #f4f4f4;
}

nav button.active {
  background-color: #666;
  border-color: #666;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

nav button.active:hover {
  background-color: #666;
}

.filter__submit {
  -webkit-appearance: none;
  background-color: #fff;
  border: none;

}
.filter__form {
  -webkit-appearance: none;
  align-items: center;
  border: #ccc 1px solid;
  display: flex;
  padding: 0 .5rem;
}

.filter__input {
  -webkit-appearance: none;
  border: none;
  width: 100%;
}

.search__headline {
  text-align: center;
  font-weight: normal;
  letter-spacing: 1.6px;
}

.search__item {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 1rem;
  text-decoration: none;
  border-left: 3px solid;
}
.search__item:not(:last-child) {
  border-bottom: #ccc 1px solid;
}

.search__item:hover,
.search__item.offline:hover {
  background-color: #f4f4f4;
}
.search__item * {
  text-decoration: none;
}

.search__item.offline {
  border-left-color: #ccc;
  background-color: #f9f9f9;
}

.search__item.unknown-user {
  pointer-events: none;
  border-left-color: #999;
}

.search__item.unknown-user .user-name,
.search__item.unknown-user .avatar {
  opacity: .75;
}

.search__item.unknown-user .user-name {
  font-weight: normal;
}

.search__item.unknown-user .stream-title {
  display: none;
}

.search__item.streaming {
  border-left-color: orange;
}

.status {
  color: #999;
  margin-left: auto;
  padding: 0 1.5rem 0 1rem;
  font-size: 1.4rem;
}

.user {
  padding: 0 2rem;
  font-size: 1.4rem;
}
.user-name {
  font-weight: bold;
  color: #222;
}
.stream-title {
  font-style: italic;
  color: #666;
}

/* From HTML5 Boilerplate */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}
